@use '@themeshift/ui/sass/components/button' as button;

.container {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: token('radius.small');
  position: relative;
  display: grid;
  place-items: center;
  min-height: 300px;
}

.swatches {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.swatchButton {
  @include button.reset;

  color: token('theme.text.muted');
  transition: 0.2s color;

  &[aria-pressed='true'] {
    color: token('theme.text.base');
    text-decoration: underline;
  }

  &:not([aria-pressed='true']):hover {
    color: token('theme.text.base');
  }

  &:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.content {
  margin-top: 2.5rem;
  padding: 1rem;
}
