.root {
  .selectedIcon,
  .selectedIconPlaceholder {
    display: none;
    margin-inline-end: token('space.1');
  }

  .selectedIconPlaceholder {
    visibility: hidden;
  }

  &[data-selected='true'] {
    .selectedIcon {
      display: inline-flex;
    }

    .selectedIconPlaceholder {
      display: none;
    }
  }

  &:not([data-selected='true']) {
    .selectedIconPlaceholder {
      display: inline-flex;
    }
  }
}

.group {
  inline-size: fit-content;
}

.root[data-selected='true'][data-color='neutral'][data-variant='subtle'] {
  background-color: token(
    'components.filterChip.selected.variant.neutral.subtle.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.neutral.subtle.border'
  );
  color: token('components.filterChip.selected.variant.neutral.subtle.text');
}

.root[data-selected='true'][data-color='neutral'][data-variant='outline'] {
  background-color: token(
    'components.filterChip.selected.variant.neutral.outline.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.neutral.outline.border'
  );
  color: token('components.filterChip.selected.variant.neutral.outline.text');
}

.root[data-selected='true'][data-color='neutral'][data-variant='solid'] {
  background-color: token(
    'components.filterChip.selected.variant.neutral.solid.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.neutral.solid.border'
  );
  color: token('components.filterChip.selected.variant.neutral.solid.text');
}

.root[data-selected='true'][data-color='accent'][data-variant='subtle'] {
  background-color: token(
    'components.filterChip.selected.variant.accent.subtle.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.accent.subtle.border'
  );
  color: token('components.filterChip.selected.variant.accent.subtle.text');
}

.root[data-selected='true'][data-color='accent'][data-variant='outline'] {
  background-color: token(
    'components.filterChip.selected.variant.accent.outline.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.accent.outline.border'
  );
  color: token('components.filterChip.selected.variant.accent.outline.text');
}

.root[data-selected='true'][data-color='accent'][data-variant='solid'] {
  background-color: token(
    'components.filterChip.selected.variant.accent.solid.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.accent.solid.border'
  );
  color: token('components.filterChip.selected.variant.accent.solid.text');
}

.root[data-selected='true'][data-color='success'][data-variant='subtle'] {
  background-color: token(
    'components.filterChip.selected.variant.success.subtle.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.success.subtle.border'
  );
  color: token('components.filterChip.selected.variant.success.subtle.text');
}

.root[data-selected='true'][data-color='success'][data-variant='outline'] {
  background-color: token(
    'components.filterChip.selected.variant.success.outline.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.success.outline.border'
  );
  color: token('components.filterChip.selected.variant.success.outline.text');
}

.root[data-selected='true'][data-color='success'][data-variant='solid'] {
  background-color: token(
    'components.filterChip.selected.variant.success.solid.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.success.solid.border'
  );
  color: token('components.filterChip.selected.variant.success.solid.text');
}

.root[data-selected='true'][data-color='warning'][data-variant='subtle'] {
  background-color: token(
    'components.filterChip.selected.variant.warning.subtle.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.warning.subtle.border'
  );
  color: token('components.filterChip.selected.variant.warning.subtle.text');
}

.root[data-selected='true'][data-color='warning'][data-variant='outline'] {
  background-color: token(
    'components.filterChip.selected.variant.warning.outline.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.warning.outline.border'
  );
  color: token('components.filterChip.selected.variant.warning.outline.text');
}

.root[data-selected='true'][data-color='warning'][data-variant='solid'] {
  background-color: token(
    'components.filterChip.selected.variant.warning.solid.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.warning.solid.border'
  );
  color: token('components.filterChip.selected.variant.warning.solid.text');
}

.root[data-selected='true'][data-color='danger'][data-variant='subtle'] {
  background-color: token(
    'components.filterChip.selected.variant.danger.subtle.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.danger.subtle.border'
  );
  color: token('components.filterChip.selected.variant.danger.subtle.text');
}

.root[data-selected='true'][data-color='danger'][data-variant='outline'] {
  background-color: token(
    'components.filterChip.selected.variant.danger.outline.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.danger.outline.border'
  );
  color: token('components.filterChip.selected.variant.danger.outline.text');
}

.root[data-selected='true'][data-color='danger'][data-variant='solid'] {
  background-color: token(
    'components.filterChip.selected.variant.danger.solid.background'
  );
  border-color: token(
    'components.filterChip.selected.variant.danger.solid.border'
  );
  color: token('components.filterChip.selected.variant.danger.solid.text');
}
