.container {
  color: token('components.copyButton.fg');
  background: token('components.copyButton.bg');

  &:hover {
    background: token('components.copyButton.bg.hover');
    color: token('components.copyButton.fg.hover');
    text-decoration: none;
  }

  &.copySuccess {
    color: token('color.green.400');
  }
}
